<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./layout/head-common.html') %>
<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<!-- 这里因为支持ejs模板，所以可以直接用ejs语法	 -->
<!-- 这里的编码改成了asp，具体操作shift+command+p,输入 sshtm就能看到了-->
<body>
	<%= require('html-loader!./layout/nav.html')%>
	<%= require('html-loader!./layout/header.html') %>
	<div class="crumb">
		<div class="w">
			<div class="crumb-con">
				<a href="./index.html" class="link">MMall</a>
				<span>>></span>
				<span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
			</div>
		</div>
	</div>
	<div class="page-wrap w">
		<%= require('html-loader!./layout/nav-side.html') %>
		<div class="content with-nav">
			<div class="panel">
				<div class="panel-title"><%= htmlWebpackPlugin.options.title%></div>
				<div class="panel-body">
					<div class="loading"></div>
				</div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>